<% layout('layouts/base') -%>
<h2>Table for Upload Status</h2>



<table style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;padding: 10px;margin:20px">
  <tr style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">
    <th style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Course  </th>
    <th style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Semester  </th>
    <th style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Year  </th>
    <th style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;"> Teacher  </th>
    <th style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Status</th>
  </tr>
  <tr style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">TCT411  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">1  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">2022  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Teach 1  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">1</td>
  </tr>
  <tr style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">TCT421  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">1  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">2022  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;"">Teach 2  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">1</td>
  </tr>
  <tr style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">TCT431  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">2  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">2022  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Teach 1  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">0</td>
  </tr>
  <tr style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">TCT441  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">1  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">2022  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">Teach 2  </td>
    <td style="  padding: 15px; text-align: left;border-bottom: 1px solid #ddd;">0</td>
  </tr>
</table>
