<% layout('layouts/base') -%>
<style type="text/css">
    .rm-border {
        border-left-color: #fff !important;
        border-right-color: #fff !important;
    }

    td {
        cursor: pointer;

    }
</style>
<section class="content-header">
    <h1>
        <small>All Users</small></h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"> <i class="fa fa-dashboard"></i>Level </a>
        </li>
        <li class="active">Here </li>
    </ol>
</section>
<section class="content">
    <form method="post">
        <input type="hidden" name="area" value="inbox">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Tournaments</h3>
            </div>
            <div class="box-body">
                <div style="clear: both;"></div>
                <table class="table table-hover table-striped" id="example">
                    <thead>
                        <tr style="border:none;">
                            <th>Tournament</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(rows.length >0){  %>
                        <% rows.forEach(function(el , i) {%>
                        <tr data-toggle="tooltip" title="Click to read">
                            <td class="rm-border">
                                <%= el.name %>
                            </td>
                            <td class="rm-border">
                                <%= new Date(el.start_date).toDateString() %>
                            </td>
                            <td class="rm-border">
                                <%= new Date(el.end_date).toDateString()%>
                            </td>
                            <td class="rm-border">
                                <%   
                                if(new Date(el.start_date) > new Date()){%>
                                <div class="btn btn-xs btn-primary">Upcomming</div>
                                <% 
                                return
                                }if(new Date(el.end_date) < new Date() && new Date(el.end_date).toDateString() != new Date().toDateString()){%>
                                <div class="btn btn-xs btn-danger">Expired</div>
                                <%
                                return 
                                }else{%>
                                <div class="btn btn-xs btn-success">Active</div>
                                <%}%>
                            </td>
                        </tr>
                        <% })
                    }; %>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</section>