<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>IQAR</title>

<meta name="description" content="IQAR.ng">
<meta name="keywords" content="marks, college">

<!-- <link rel="manifest" href="/manifest.json">

<link rel="icon" type="image/png" href="../../dist/assets/images/dark/icon.png">-->
<!-- START: Styles -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap -->
<link rel="stylesheet" href="../../dist/assets/vendor/bootstrap/dist/css/bootstrap.min.css" media="none" onload="if(this.media!='all')this.media='all'" />

<link rel="stylesheet" href="../../dist/css/bootstrap-social.css" media="none" onload="if(this.media!='all')this.media='all'">
<!-- FontAwesome -->
<script src="../../dist/assets/vendor/font-awesome/svg-with-js/js/fontawesome-all.min.js" async></script>
<script src="../../dist/assets/vendor/font-awesome/svg-with-js/js/fa-v4-shims.min.js" async></script>

<!-- Youplay -->
<link rel="stylesheet" href="../../dist/assets/css/youplay.css">
<!-- RTL (uncomment this to enable RTL support) -->
<!-- <link rel="stylesheet" href="../../dist/assets/css/youplay-rtl.min.css" /> -->

<!-- Custom Styles -->
<link rel="stylesheet" href="../../dist/assets/css/custom.css" media="none" onload="if(this.media!='all')this.media='all'">
<link rel="stylesheet" href="/styles/css/custom.css" media="none" onload="if(this.media!='all')this.media='all'">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" media="none" onload="if(this.media!='all')this.media='all'">
<!-- END: Styles -->
<link rel="stylesheet" href="../../dist/css/imgareaselect.css" media="none" onload="if(this.media!='all')this.media='all'">
<link rel="stylesheet" type="text/css" href="../../dist/assets/css/normalize.css" media="none" onload="if(this.media!='all')this.media='all'" />
<link rel="stylesheet" type="text/css" href="../../dist/assets/css/demo.css" media="none" onload="if(this.media!='all')this.media='all'" />
<link rel="stylesheet" type="text/css" href="../../dist/assets/css/component.css" media="none" onload="if(this.media!='all')this.media='all'" />
<!-- jQuery -->
<script src="../../dist/assets/vendor/jquery/dist/jquery.min.js"></script>
<style>
  .notifyjs-bootstrap-base {
    white-space: normal !important;
  }
</style>