<!DOCTYPE html>
<!--
    Name: Youplay - Game Template based on Bootstrap
    Version: 3.3.0
    Author: nK
    Website: https://nkdev.info/
    Purchase: https://themeforest.net/item/youplay-game-template-based-on-bootstrap/11306207?ref=_nK
    Support: https://nk.ticksy.com/
    License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
    Copyright 2018.
-->

<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <%- include ../partials/head %>
</head>

<body>
    <!-- Preloader -->
    <div class="page-preloader preloader-wrapp">

        <img src="" alt="logo">

        <div class="preloader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Navbar -->
    <%- include ../partials/navigation %>
    <!-- /Navbar -->
    <div class="content-wrap">
        <div class="container youplay-content" style="padding-top: 20px;">
            <%-body -%>
        </div>
        <!-- Footer -->
        <%- include ../partials/footer %>