<% layout('layouts/base-front') -%>
<div class="row">
  <!-- right column -->
  <div class="col-md-12">
    <!-- general form elements disabled -->
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body" style="height: 20vh">
        <h2 style="color: dodgerblue;">
        </h2>
        <!-- <hr> -->
        <h3 class="" style="padding-bottom: 20px">
          Comming soon to IOS.
        </h3>
        <div class="row"></div>
        <a href="/">
          <button class="btn btn-warning btn-md"> Back to home. </button>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (right) -->
</div>
<!-- /.row -->