<!DOCTYPE html>
<html>

<head>
    <%- include ../partials/head %>
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/dist/assets/vendor/slider-revolution/css/settings.css" media="none" onload="if(this.media!='all')this.media='all'">
    <link rel="stylesheet" href="/dist/assets/vendor/slider-revolution/css/layers.css" media="none" onload="if(this.media!='all')this.media='all'">
    <link rel="stylesheet" href="/dist/assets/vendor/slider-revolution/css/navigation.css" media="none" onload="if(this.media!='all')this.media='all'">
    <style>
        .gamecard {
                position: relative;
            }
            .image {
              opacity: 1;
              display: block;
              width: 100%;
              height: auto;
              transition: .5s ease;
              backface-visibility: hidden;
            }
            
            .middle {
              transition: .5s ease;
              opacity: 0;
              z-index: 100;
              position: absolute;
              /* top: 50%;
              left: 50%; */
              /* transform: translate(-50%, -50%); */
              /* -ms-transform: translate(-50%, -50%); */
              text-align: center;
            }

            .gamecard:hover .middle {
              opacity: 1;
            }
            .gamecard:hover a {
              opacity: 0.3;
            }
            .text {
              background-color: rgba(70,130,180,1);
              box-shadow : 1px 2px 15px rgba(0,0,0,0.8);
              cursor: pointer;
              color: white;
              font-size: 12px;
              padding: 10px 20px;
            }
            </style>
</head>

<body>
    <!-- Preloader -->
    <div class="page-preloader preloader-wrapp">

        <img src="images/iqar.png" alt="logotm">

        <div class="preloader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Navbar -->
    <%- include ../partials/navigation %>
    <!-- /Navbar -->

    <!-- Registration Form -->
    <div id="nav-registration" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div>
                            <p>Username:</p>
                            <div class="youplay-input">
                                <input type="text" name="user_login" />
                            </div>

                            <p>E-mail:</p>
                            <div class="youplay-input">
                                <input type="text" name="user_email" />
                            </div>

                            <p>
                                <em>A password will be e-mailed to you.</em>
                            </p>

                            <button class="btn ml-3" name="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Registration Form -->
    
    <div class="content-wrap">

        <div style="margin-top: 2%; text-align: center; font-size:25px">
            <h1><br><b>Department of Computer Engineering</b></h1>
            <p style="margin: 3%; font-size: 30px"> <br>A Web application <br>to generate Programme Outcome(PO) and Course Outcome(CO) <br>based on <br>IQAM(Interim Quality Assurance Methodology)</p>
        </div>

        <div style="margin: 7% 10% 10% 30%">
            <form>
                <label for="department" style="font-size:25px; margin-bottom:1%">Select Department: </label>
                <br>
                <select name="department" id="department" style="padding: 10px; background:#edf2ff; border:none;">
                    <option>(select)</option>
                    <option value="AE">Department of Agriculture Enginnering</option>
                    <option value="CE">Department of Civil Engineering</option>
                    <option value="CSE">Department of Computer Engineering</option>
                    <option value="EE">Department of Electrical Engineering</option>
                    <option value="ECE">Department of Electronics and Communication Engineering</option>
                    <option value="IPE">Department of Industrial and Production Engineering</option>
                    <option value="IT">Department of Information Technology</option>
                    <option value="ME">Department of Mechanical Engineering</option>
                </select>
                <button style="margin-left:10%; padding: 10px; background:#edf2ff; border:none;"><a href="http://127.0.0.1:8000/overall" target="_self">Submit</a></button>
            </form>
        </div>

        <!-- /Features -->
        <%- include ../partials/footer %>
        <script type="text/javascript">
            $(document).ready(function () {
                var IS_IPAD = navigator.userAgent.match(/iPad/i) != null,
                    IS_IPHONE = !IS_IPAD && ((navigator.userAgent.match(/iPhone/i) != null) || (navigator.userAgent.match(/iPod/i) != null)),
                    IS_IOS = IS_IPAD || IS_IPHONE,
                    IS_ANDROID = !IS_IOS && navigator.userAgent.match(/android/i) != null,
                    IS_MOBILE = IS_IOS || IS_ANDROID;

                if (IS_IPAD || IS_IPHONE) {
                    $('.game').html(`
                        <div class="col-md-12 text-center">
                            <p>
                                For better mobile experience of 6 games download the app from the store
                            </p>
                            <h3><strong>Link coming soon</strong></h3>
                        </div>
                        `);
                }
            })
        </script>