<!DOCTYPE html>
<html>
<head>
  <%- include ../partials/head %>
  
</head>
<body class="skin-blue layout-top-nav ">
<!-- Site wrapper -->
<div class="wrapper">

  <% include ../partials/header %>
  

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users List
        <small>it all starts here</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box" id="search-list">
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper --> 
  <% include ../partials/footer %>

  <!-- Control Sidebar -->

</div>
<!-- ./wrapper -->

<% include ../partials/scripts %>

<script>
	
</script>
</body>
</html>
