<% layout('layouts/base-front-static') -%>
  <!-- Main content -->
    <section class="content">
      <div class="row">
        <h3><%=page.page_title%></h3><br/>
         <%-page.page_content%>      
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->