<% layout('layouts/base-front-static') -%>
<!-- Main content -->
<style>
  ul {
    padding-left: 25px
  }
</style>
<section class="content">
  <div class="row" style="padding: 0px 5px">
    <h3>
      <%=page.page_title%>
    </h3><br />
    <%-page.page_content%>
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->